# Python Data Structures theoritical questions

1.What are data structures, and why are they important
-  Data structures are the way of storing the data so as to utilze , access and manipulate data and perform several operations on it . There are various data structure is python such as - list , tuple , set , dictionary and string . These data structures has some pre defined fuctions and utilaization of it and support different operations on data .
- These are important because -
  - To store data in a way so as to organize and store data efficiently
  - Supoorts different data type to operations on it
  - Different data structures used for different use cases

2.Explain the difference between mutable and immutable data types with examples
- Mutable data types : These are the data types which can be accesed and manipulated easily with the help of severatl pre defined fuctions and methods . These mutable data structures are - list , sets , dictionary(but the keys are immutable)
- example :
            - list[1,2,3,4]
              list[0] = 10
              print(list)
              output = [10,2,3,4]
- Immutable data types : These are the data types which has unchangable values i.e, the values or or element ot the data cannot be manipulated . the data types are - string , tuple and dictionary(but the values are mutable)
- example :  
            - string = "abcde"
              string[0] = "q"
              output - Error

3.What are the main differences between lists and tuples in Python
- lists are mutable and tupes are immutable
- lists are declared as list = [] , and tuple is declared as tuple = ()
- new elements can be added or removed in the lists but not in tuple

4.Describe how dictionaries store data
- dictionary stores heterogeneous data in key and value pair , where keys are unique and immutable and its corresponding values are mutable . Each key has its own value and value can be acceseed with the help of keys but not vice versa
- syntax :     
          -  dict1 = {}
             dict1 = {'key1' : 'value1' , 'key2' : 'value2'}


5.Why might you use a set instead of a list in Python
- as the sets allow the user to store the data which are specificallly uniqe and its nature is to store in an unorderly form i.e, the sets doesnt use indexing . Consider a scenario where the menu card is prepared for a restaurent and the dishes cannot be same , it has to be unique in the menu card , in this scenario the sets can be used as lists allow similar values

6.What is a string in Python, and how is it different from a list
string is a data structure in python used to store elements like words or sentences , the string is immutable i.e, the sting values can be changed as a whole but not the letters individually . It is stored in a sequencial manner in memory . lists are diferent from string as The list has multiple values of different data types and can be accesed and manipulated easily unlike string . the strings iterates over characters and the lists iterate over elements .
string is declared as string = "abc" , and lists are declared as list = []

7.How do tuples ensure data integrity in Python
- tuples are immutable and cannot be manipulated
- Well maintained code and seems structured
- Tuples are as safe as dictionary keys

8.What is a hash table, and how does it relate to dictionaries in Python
- Hash table is a data structure that used a hask key for every element or value and these hash values are used to refer to the values . These hash tables are used to drive manipulation of data such as insertion , deletion and searching in python in O(1) time complexity . The dictionary make use of the hash table as the keys are immutable and used to refer to the values as whn dictionary is created the hash value is internally created

9.Can lists contain different data types in Python
- Yes list can contain different data type in python such as - stings , integer , float and boolean values in it . and various operations can be performed using functions like - append() , clear() etc  

10.Explain why strings are immutable in Python
- Strings are immutable in python because the data is a sequence of characters and these are immutable to maintain the integrity of the string .

11.What advantages do dictionaries offer over lists for certain tasks
- dictionary help to fetch the data in O(1) time
- dictionary has unique and immutable key to every value to manipulate data
- For indexing lists uses integer values satrting from 0 , where as the dictionary uses keys

12.How do sets handle duplicate values in Python
- The duplicate values created in sets are handled as the list consider these values to be same and then remove its copies from the original set stored in the memory and as the data originally has only unique values are are unodered , which eventually helps to maintain the originality and integrity of the data

13.Describe a scenario where using a tuple would be preferable over a list
- A scenario where the indiviual id's are given to special army forces of a nation and that id cannot be manipulated, can use tuple as it should be unchangable
- vehicle number cannot be manipulated on the government records for suspecting crimainal activities and helps to protect citizens of the country

14.How does the “in” keyword work differently for lists and dictionaries
- The in keyword is used to check the values in the lists , as it is a membership operator
- example :
            - lists = [100, 'value' , 90.99]
              if 'value' in lists :     
                  print('Yes')
- The in keyword is used to check the keys in the dictionaries being a membership operator but not the values
- example :       
            - Dict1 = {key1 : 'value1' , key2 : 'value2'}
              if 'value1'  in Dict1 :       
                  print('yes')
              else :              
                  print('no')
              output - mo

15.Can you modify the elements of a tuple?Explain why or why not
- No , we cannot modify the values of the tuple until and unless we create a new tuple and copy the values to it with additional modifications

16.What is a nested dictionary, and give an example of its use case
- Nested dictionary is the dictionary cantaining values as dictionary . As the key remains unique and immutable but the values becomes a dictionary .
- example :                 
              - students {
                    'ram' : {
                          'sir_name' : 'bhagat'
                          'rool_no' : 30
                    }
                    'shyam' : {
                          'sir_name' : 'satya'
                          'rool_no' : 40
                    }
              }
              print(students[ram][rool_no])

17.Describe the time complexity of accessing elements in a dictionary
- the time complexity of accessing the ements is O(1) as the elments are accesed directly with the help of keys . so we dont have to trace all the elements to access the specific element

18.In what situations are lists preferred over dictionaries
- When order of insertion matters
- when the data considered is small
- When the space is considered over that range of data
- alllow duplicate values
- dont need key value pairs

19.Why are dictionaries considered unordered, and how does that affect data retrieval
- The dictionaries are considered as unordered as dictionary when retrieved as a whole its not necesary to come in the order of insertion but in newer versions of the python 3.5 and above , the order remains the same as insertion during the retrival .
- The data or values remains the same as the keys refered to them doesnt change but the order in which they are retrieved as indexing is done tohrough keys

20.Explain the difference between a list and a dictionary in terms of data retrieval
- for data retrieval in lists the indexing is used and it starts from 0 . The data has no key but the indexes . data can be retrieved from negative indexing that starts from last . consumes O(n) time for it
- For data retrieval in dictionaries , keys are utilised which are unique for each value . Has no order so negative indexing doesnt work . consumes O(1) time for it

# Python Data Structures practical question

In [ ]:
# 1. Write a code to create a string with your name and print it
name = "S SHUBHAM"
print(name)

S SHUBHAM

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
stringg = "Hello World"
print(len(stringg))

11

In [ ]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
stringg = "Python Programming"
print(stringg[0:3])

Pyt

In [ ]:
# 4. Write a code to convert the string "hello" to uppercase
stringg = "hello"
print(stringg.upper())

HELLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple
stringg = "I like apple"

print(stringg.replace( "apple" , "orange" ))

I like orange

In [ ]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
listt = list(range(1,6))
listt

[1, 2, 3, 4, 5]

In [ ]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
listt = list(range(1,5))
print(listt)
listt.append(10)
print(listt)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
listt = list(range(1,6))
print(listt)
listt.remove(3)
print(listt)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [ ]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
listt = ['a' , 'b', 'c', 'd']
listt[1]

'b'

In [ ]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
listt = [10, 20, 30, 40, 50]
listt.reverse()
print(listt)

[50, 40, 30, 20, 10]

In [ ]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tup = (100 , 200 , 300)
print(type(tup))
print(tup)

<class 'tuple'>
(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup = ('red', 'green', 'blue', 'yellow')
print(tup[1:])

('green', 'blue', 'yellow')

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup = (10, 20, 5, 15)
print(min(tup))

5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tup = ('dog', 'cat', 'rabbit')
tup.index('cat')

1

In [ ]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in i
tup = ('kiwi' , 'mango' , 'grapes')
for i in range(0,len(tup)) :
  if 'kiwi' in tup[i].lower() :
    a = 'yes'
    break
  else :
    a = 'no'
print(a)

yes

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
sett = {'a', 'b', 'c'}
print(sett)

{'a', 'c', 'b'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
sett = {1, 2, 3, 4, 5}
sett.clear()
print(sett)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}
sett = {1, 2, 3, 4}
sett.remove(4)
print(sett)

{1, 2, 3}

In [ ]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 | set2

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2 , 3 , 4}
set1 & set2

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict1 = {"name" : "Shrey" , "age" : 90 , "city" : "new york"}
print(dict1)

{'name': 'Shrey', 'age': 90, 'city': 'new york'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict1 = {'name': 'John', 'age': 25}
dict1.update({"country" : "USA"})
dict1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict1 = {'name': 'Alice', 'age': 30}
print(dict1['name'])

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict1.pop('age')
dict1

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
dict1 =  {'name': 'Alice', 'city': 'Paris'}
for i in dict1.keys():
  if 'city' == i :
    a= 'yes'
    break
  else :
    a = 'no'
print(a)

yes

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all
lsitt = [10 , 'shyy' , 0.90 , True , 10+20j]
tuplee = (10 , 'shyy' , 0.90 , True , 10+20j)
dictt = {1:10 ,2:20}
print(lsitt)
print(tuplee)
print(dictt)

[10, 'shyy', 0.9, True, (10+20j)]
(10, 'shyy', 0.9, True, (10+20j))
{1: 10, 2: 20}

In [ ]:
import random
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
listt = [random.randint(1,100) for i in range(5)]
print(listt)
sorted(listt)

[81, 83, 78, 2, 9]

[2, 9, 78, 81, 83]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index
listt = ['pan' , 'ram' , 'dam' , 'sam']
print(listt[2])

dam

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result
dict1 = { 1 : 10 , 2 : 20}
dict2 = { 3 : 30 , 4 : 40}
dict1.update(dict2)
dict1

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
# 30. Write a code to convert a list of strings into a set
listt = ['abs' , 'hkgd' , 'hgr']
set(listt)

{'abs', 'hgr', 'hkgd'}